/* entidades.component.css */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin: 0; /* Elimina el margen por defecto del encabezado */
}

button {
  margin-left: 10px; /* Añade espacio entre el título y el botón */
}

.mat-elevation-z8 {
  width: 100% !important;
}
