.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 16px;
}

.input-field {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center !important;
}

.login-button {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}
