<div class="form-container">
  <h2>Ver Entidad</h2>
  <form [formGroup]="entidadForm" (ngSubmit)="onSubmit()" class="form">
    <div class="input-group">
      <mat-form-field class="form-field">
        <mat-label>Tipo de Documento</mat-label>
        <mat-select formControlName="id_tipo_documento">
          <mat-option
            *ngFor="let tipoDocumento of lista_tipo_documento"
            [value]="tipoDocumento.id_tipo_documento"
          >
            {{ tipoDocumento.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Número de documento</mat-label>
        <input
          matInput
          placeholder="Número de documento"
          formControlName="nro_documento"
        />
      </mat-form-field>
    </div>

    <div class="input-group">
      <mat-form-field class="form-field">
        <mat-label>Razon Social</mat-label>
        <input
          matInput
          placeholder="Razon Social"
          formControlName="razon_social"
          onkeyup="this.value = this.value.toUpperCase();"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Nombre Comercial</mat-label>
        <input
          matInput
          placeholder="Nombre Comercial"
          formControlName="nombre_comercial"
        />
      </mat-form-field>
    </div>

    <div class="input-group">
      <mat-form-field class="form-field">
        <mat-label>Tipo de Contribuyente</mat-label>
        <mat-select formControlName="id_tipo_contribuyente">
          <mat-option
            *ngFor="let tipoContribuyente of lista_tipo_contribuyente"
            [value]="tipoContribuyente.id_tipo_contribuyente"
          >
            {{ tipoContribuyente.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Telefono" formControlName="telefono" />
      </mat-form-field>
    </div>

    <div class="input-group">
      <mat-form-field class="form-field">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" formControlName="direccion" />
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-button type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </div>
  </form>
</div>
