.container {
  display: flex;

  height: 100vh;
}

.side-nav {
  background-color: #0d1520 !important;
  width: 300px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-grow: 1;
}
